* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts */
/* titles: font-family: 'Rubik', sans-serif;
text: font-family: 'Yusei Magic', sans-serif; */

/* Modifiers */
.--bg-color-light {
  background-color: var(--color-light);
}

.--bg-color-dark {
  background-color: var(--color-dark);
}

.--bg-color-primary {
  background-color: var(--color-primary);
}

.--bg-color-secondary {
  background-color: var(--color-secondary);
}

.--text-color-light {
  color: var(--color-light);
}

.--text-color-dark {
  color: var(--color-dark);
}

.--text-color-primary {
  color: var(--color-primary);
}

.--text-color-secondary {
  color: var(--color-secondary);
}

.--text-color-light-gray {
  color: var(--color-light-gray);
}

.--text-color-dark-gray {
  color: var(--color-dark-gray);
}

/* Section */
.section {
  min-height: 100vh;
}

.section__hero {
  background-image: url('../images/hero-background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.section__hero::before {
  content: '';
  background-color: inherit;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero-container__h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 12vh;
  z-index: 1;
}

.section__h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section__h3 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

.section__p {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2rem;
  padding-bottom: 10px;
}

.about__content {
  display: flex;
  flex-direction: column;
  height: 60vh;
}
