* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Fonts */
/* titles: font-family: 'Rubik', sans-serif;
text: font-family: 'Yusei Magic', sans-serif; */

/* Modifiers */
.--bg-color-light {
  background-color: var(--color-light);
}

.--bg-color-dark {
  background-color: var(--color-dark);
}

.--bg-color-primary {
  background-color: var(--color-primary);
}

.--bg-color-secondary {
  background-color: var(--color-secondary);
}

.--bg-color-dark-gray {
  background-color: var(--color-dark-gray);
}

.--text-color-light {
  color: var(--color-light);
}

.--text-color-dark {
  color: var(--color-dark);
}

.--text-color-primary {
  color: var(--color-primary);
}

.--text-color-secondary {
  color: var(--color-secondary);
}

.--text-color-light-gray {
  color: var(--color-light-gray);
}

.--text-color-dark-gray {
  color: var(--color-dark-gray);
}

.--position-relative {
  position: relative;
}

/* Section */
.section {
  min-height: 100vh;
}

.section__h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 10.2rem;
  letter-spacing: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.section__h3 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.2;
}

.section__h3--flex {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  list-style: none;
}

.section__h3-part {
  min-width: max-content;
  display: inline-block;
  padding: 0 1rem;
}

.section__h4 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}

.section__p {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 10px;
}

.section__header,
.section__content {
  margin: 0 auto;
  max-width: 88rem;
  width: 100%;
}

.section__h2-last-letter {
  letter-spacing: normal;
}

/* Pages */
.page {
  padding: 5rem 5rem 0;
}

/* Hero */
.section__hero {
  background-image: url('../images/robotBG3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 8;
}

.section__hero::before {
  content: '';
  background-color: inherit;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.section__hero::after {
  content: '';
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -8px;
  background-image: url('../images/spriteCartoon.png');
  animation: cartoon 2s 3s steps(8) infinite;
  z-index: 10;
}

@keyframes cartoon {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -2400px;
  }
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero-container__h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 11.7rem;
  word-spacing: 2.2rem;
  z-index: 9;
}

/* About */
.about__content {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: center;
  gap: 3rem;
  padding: 10vh 0;
}

.about__content-img > img {
  height: 50vh;
  border-radius: 5vh;
}

.about__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Projects (and Hobbies) */
.projects__content,
.hobbies__content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  align-content: stretch;
  padding: 3rem 0;
}

.projects__box,
.hobbies__box {
  overflow: hidden;
  border-radius: 1.3rem;
  position: relative;
  transition: 0.4s all ease-in-out;
}

.projects__box > img,
.hobbies__box > img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.4s all ease-in-out;
}

.projects__box:hover,
.hobbies__box:hover {
  border-radius: 5rem;
}

.projects__box:hover > img,
.hobbies__box:hover > img {
  transform: scale(1.5);
}
.projects__box::after,
.hobbies__box::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  opacity: 0.7;
  z-index: 1;
  transition: 0.4s all ease-in-out;
}

.projects__box:hover::after,
.hobbies__box:hover::after {
  background: var(--color-dark);
}

.projects__h4,
.hobbies__h4 {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s all ease-in-out;
  transform: scale(2);
}

.projects__box:hover > .projects__h4,
.hobbies__box:hover > .hobbies__h4 {
  opacity: 1;
  transform: scale(1);
}

/* Hobbies */
.hobbies__content {
  max-width: 730px;
}

/* Contact */
.page__contact {
  height: 100vh;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
}

.contact__social-link-box {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-template-rows: 1fr;
  justify-content: space-between;
  height: 100%;
  padding-top: 4rem;
}

.contact__social-link {
  display: grid;
  grid-template-rows: max-content auto;
  align-content: space-between;
}

.contact__social-link > p {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.contact__social-links-seperator {
  width: 1px;
  height: 100%;
  border-left-width: 1px;
  border-left-style: dotted;
  opacity: 0.3;
}
