* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts */
/* titles: font-family: 'Rubik', sans-serif;
text: font-family: 'Yusei Magic', sans-serif; */

/* Modifiers */
.--bg-color-light {
  background-color: var(--color-light);
}

.--bg-color-dark {
  background-color: var(--color-dark);
}

.--bg-color-primary {
  background-color: var(--color-primary);
}

.--bg-color-secondary {
  background-color: var(--color-secondary);
}

.--text-color-light {
  color: var(--color-light);
}

.--text-color-dark {
  color: var(--color-dark);
}

.--text-color-primary {
  color: var(--color-primary);
}

.--text-color-secondary {
  color: var(--color-secondary);
}

.--text-color-light-gray {
  color: var(--color-light-gray);
}

.--text-color-dark-gray {
  color: var(--color-dark-gray);
}

/* Section */
.section {
  min-height: 100vh;
}

.section__h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  font-size: 10.2rem;
  letter-spacing: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.section__h3 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

.section__h4 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}

.section__h3--grid {
  display: grid;
  grid-template-columns: repeat(9, max-content);
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

.section__p {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 10px;
}

.section__header,
.section__content {
  margin: 0 auto;
  max-width: 88rem;
}

.section__h3-seperator {
  height: 100%;
  width: 1px;
  background-color: var(--color-dark);
}

/* Pages */
.page {
  padding: 5rem 5rem 0;
}

/* Hero */
.section__hero {
  background-image: url('../images/hero-background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.section__hero::before {
  content: '';
  background-color: inherit;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero-container__h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 11.7rem;
  word-spacing: 2.2rem;
  z-index: 1;
}

/* About */
.about__content {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: center;
  gap: 3rem;
  padding: 10vh 0;
}

.about__content-img > img {
  height: 50vh;
  border-radius: 5vh;
}

.about__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Projects */
.projects__content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  align-content: stretch;
  padding: 3rem 0;
}

.projects__box {
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  transition: 0.4s all ease-in-out;
}

.projects__box > img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.4s all ease-in-out;
}

.projects__box:hover {
  border-radius: 5rem;
}

.projects__box:hover > img {
  transform: scale(1.5);
}
.projects__box::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  opacity: 0.7;
  z-index: 1;
  transition: 0.4s all ease-in-out;
}

.projects__box:hover::after {
  background: var(--color-dark);
}

.projects__h4 {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.projects__box:hover > .projects__h4 {
  opacity: 1;
}
