:root {
  --heading-font-family: "Rubik", sans-serif;
  --primary-font-family: "Yusei Magic", sans-serif;
  --color-light: #ffffff;
  --color-primary: #f3efe0;
  --color-secondary: #22a39f;
  --color-dark: #434242;
  --color-gray: #999999;
}
